body{
    font-family: 'Space Grotesk', sans-serif;
    /* background: linear-gradient(hsl(249, 99%, 64%, hsl(0, 100%, 66%)));  Need to research gradient syntax sorry lol */
    background:linear-gradient(
        to right,
         hsl(249, 99%, 64%) 12%,
         hsl(278, 94%, 30%) 34%,
         white 34%,
         white 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container{
    position:relative;
    top: 100px;
    right:150px;
    padding: 20px;
}

.card-front{
    width: 350px;
    height: 210px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.card-front img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card-details{
    position:absolute;
    top: 0;
    left: 0;
    padding: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card-details > img{
    width: 40px;
    margin-bottom: 30px;
}

.grid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.80rem;
    letter-spacing: 1px;
}

.cardholder-name{
    text-transform: uppercase;
}

.date{
    display:flex;
    gap: 3px;
}

.expiry-month, .expiry-year{
    text-transform: uppercase;
    
}
#name, #number{
    width: 300px;
    height: 30px;
    font-size: large;
    border-radius: 6px;
    border:solid;
    border-color: rgb(215, 215, 215);
}

#expiry-month, #expiry-year{
    width: 50px;
    height: 25px;
    border-radius: 6px;
    border:solid;
    border-color: rgb(215, 215, 215);
    margin-top: 10px;
}

#cvc{
    width:150px;
    height: 25px;
    border-radius: 6px;
    border:solid;
    border-color: rgb(215, 215, 215);
    margin-top: 10px;
}

input::placeholder{
    font-family: 'Space Grotesk', sans-serif;
}

#form{
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    
}

#Cardholder-name-div, #Card-number-div {
    display: flex;
    flex-direction: column;
}

#confirm{
    background-color: hsl(278, 94%, 30%);
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    font-size: 25px;
    border:none;
    display: inline-block;
    text-align: center;
    padding-top:5px;
    padding-bottom:5px;
    /* padding-left: 30px;
    padding-right:30px; */
    width: 200px;
    border-radius: 6px;
    margin-top: 20px;
}

#confirm:hover{
    background-color: hsl(278, 71%, 37%);
}

.errorMessages {
    color: red;
    display: none;
}

#form-div {
    display:flex;
    position: relative;
    left: 600px;
    bottom: 500px;
}

